body {
  margin: 0;
  font-family: 'Open-Sans';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Open-Sans';
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}
